@import "tailwindcss";

@font-face {
  font-family: InterBlack;
  src: url('../public/fonts/Inter_18pt-Black.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InterBold;
  src: url('../public/fonts/Inter_18pt-Bold.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InterMedium;
  src: url('../public/fonts/Inter_18pt-Medium.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}

/* Theme  Tailwind */
@theme{
  --font-InterMedium: InterMedium;
  --font-InterBold: InterBold;
  --font-InterBlack: InterBlack;
}

@layer base{
  @keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}
body{
  background: #0f172a;
}
.glass_btn{
  @apply relative backdrop-blur-xl bg-slate-800/40 border border-slate-700/50 rounded-lg text-white hover:bg-slate-700/40 transition-all duration-300 shadow-lg hover:shadow-blue-500/20 cursor-pointer
}
}